* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 650px;
    width: 50%;
    margin: 20vh auto;
}

h1,h2 {
    margin-bottom: 5px;
    text-align: center;
}

form {
    margin-top: 12px;
    margin-left: 23vh;
}

input, button {
    display: block;
    margin-bottom: 8px;
    padding: 8px;
    width: 61%;
}

button {
    background-color: rgb(101, 151, 245);
    border: none;
    width: 61%;
}

button:hover {
    background-color: rgb(38, 104, 228);
    color: #fff;
}

#message {
    background-color: rgb(101, 151, 245);
    text-align: center;
    margin-top: 8px;
    padding: 8px;
    margin: 0 auto;
    width: 44%;
    display: none;
}
